header
  display: flex
  justify-content: space-between
  min-height: $height-header
  width: 100%
  z-index: $zindex-header
  background: rgb(255,255,255)
  background: linear-gradient(40deg, rgba(255,255,255,1) 0%, rgba(108,129,255,1) 40%, rgba(155,70,213,1) 60%, rgba(253,29,29,1) 80%, rgba(252,176,69,1) 100%)
  +breakpoint('mama-bear')
    background: inherit
  h1
    display:  inline
    padding-left: 1.1em
    text-transform: uppercase
  .nav-logo
    position: absolute
    left: $hpad-header
    top: $vpad-header
    transition: $nav-mobile-transition
    height: 80px
    +breakpoint("mama-bear")
      position: static
      height: 100px
      padding-left: 1.1em 
    img
      height: 100%
  &.sticky-header
    position: fixed
    background: rgb(255,255,255)
    background: linear-gradient(40deg, rgba(255,255,255,1) 0%, rgba(108,129,255,1) 40%, rgba(155,70,213,1) 60%, rgba(253,29,29,1) 80%, rgba(252,176,69,1) 100%)
    transition: $nav-mobile-transition
    margin-bottom: 100px
    +breakpoint("mama-bear")
      min-height: 80px
      margin-bottom: 80px
      .nav-logo
        padding-left: $hpad-header * 4
        height: 80px
    + main
      top: 100px
    ~ footer
      margin-top: 100px