header
  position: sticky
  top: 0
  display: flex
  justify-content: space-between
  min-height: $height-header
  width: 100%
  z-index: $zindex-header
  background: $black
  +breakpoint('mama-bear')
    background: inherit
    nav
      a,
      a:visited,
      a:active
        color: $black
  h1
    display:  inline
    padding-left: 1.1em
    text-transform: uppercase
  .nav-logo
    position: absolute
    left: $hpad-header
    top: $vpad-header
    transition: $nav-mobile-transition
    height: 80px
    +breakpoint("mama-bear")
      position: static
      height: 100px
      padding-left: 1.1em 
    img
      height: 100%
  &.sticky-header
    background: $black
    transition: $nav-mobile-transition
    +breakpoint("mama-bear")
      min-height: 80px
      margin-bottom: 80px
      .nav-logo
        padding-left: $hpad-header * 4
        height: 80px
      nav
        a,
        a:visited,
        a:active
          color: $white
        a:hover,
        a:focus
          color: $black
    + main
      top: 100px
      top: 0
    ~ footer
      margin-top: 100px