main
  height: auto
  h2
    padding: 0.2em $spacing-double 0
  figure.full-image
    margin: 0
    padding: 0
    img
      object-fit: cover
      width: 100vw

.sponsor-form
  display: grid
  grid-gap: $spacing
  grid-template-columns: 50% 50%
  padding: 0 $spacing-double