#form-container
  #city
    width: calc(11rem - #{$spacing} * 1.5)
    margin-right: $spacing-half
  #state
    width: calc(4rem - #{$spacing} * 1.5)
    margin-right: $spacing-half
  #zip
    width: 5rem
  input, select
    display: block
  label, .label
    margin-left: 1 + $spacing
    margin-bottom: 0
  input, select, iframe
    margin-left: $spacing
    margin-bottom: $spacing
  .form-flex
    label
      select
        width: 3rem

.sponsor-levels
  margin: 0 $spacing
  h3
    margin-bottom: 0
  sub
    display: block
  dd
    margin-left: $spacing-double
    ul
      padding-left: $spacing-half