.sponsor-form
  #form-container
    padding-left: 20%
  .form-group
    display: block
  .form-inline
    display: inline  
  .csz
    display: flex
    flex-direction: row
    justify-content: flex-start
    #city
      width: 11em
    #state
      width: 3em
    #zip
      width: 5em
  input, select
    display: block
  label, .label
    margin-left: 1 + $spacing
    margin-bottom: 0
  input, select, iframe
    margin-left: $spacing
    margin-bottom: $spacing
  .csz
    label
      select
        width: 3em
  .sponsor-levels
    h3
      margin-bottom: 0