/*-------------------------------------*/
// COLORS

// Colors: Brand
$color-brand-1: #7dcfb8

// Colors: White
$titanium-white: #fff
$linen: #f2ebd3
$bone: #e7dfcc
$ivory: #fef7e5
$cotton: #fbfcf7

// Colors: Common: Greys
$grey-coal: #222
$grey-gravel: #444
$grey-gandalf: #aaa
$grey-newgandalf: #bbb

// Colors: Common: Cool
$blue-light-steel: 	#b0c4de
$blue-vivid: #09f
$blue-arctic: #a0dbe3

// Colors: Common: Warm
$orange-rust: #8c4005
$orange-cider: #b66827
$orange-cantaloupe: #fca172

// Colors: Brands for Social Media
$blue-twitter: #55acee
$blue-vimeo: #1ab7ea
$red-youtube: #cd201f
$color-facebook: #3b5998
$color-instagram: #e4405f

// Colors: Links
$color-link: $blue-vivid
$color-link-hover: darken($color-link, 12%)

// Colors: Base Font
$color-font-base: $grey-gravel
$color-head-base: $grey-coal

$color-nav-base: $bone
$color-nav-sub: $ivory

$color-menu-open: #dcdcdc
$color-menu-close: #232323

// Colors: Background
$color-background: #d4d2d6

