header
  display: flex
  justify-content: space-between
  padding: 1.1em 0
  width: 100%
  z-index: $zindex-header
  h1
    display:  inline
    padding-left: 1.1em
    text-transform: uppercase
  .nav-logo
    position: absolute
    left: $spacing
    top: $spacing
    +breakpoint("baby-bear")
      position: static
