{{ $mainOptions := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" false ) }}
{{ $main := resources.Get "sass/main.sass" | resources.ToCSS $mainOptions }}
<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    {{ if eq .URL "/" }}<title>{{ .Site.Title }}</title>{{ else }}<title>{{ .Site.Title }} - {{ .Title }}</title>{{ end }}
    {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <link href="https://fonts.googleapis.com/css?family=Kalam:400,700" rel="stylesheet">
    <link href="{{ $main.RelPermalink }}" rel="stylesheet">
  </head>
  <body>
    <header id="header">
        {{ partial "header/site-header.html" . }}
    </header>
    <main>
      <div id="notification" class="alert hidden" role="alert"></div>
      {{ with .Params.banner_img}}<img class="full-image" alt="{{ $.Params.banner_alt }}" src="{{ . }}" />{{ end }}
      {{ with .Params.heading }}<h2>{{ . }}</h2>{{ end }}
      <article>
        <section>
          {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            <img class="full-image" alt="Move It Raleigh" src="/img/moveitbanner2.jpg">
            {{ .Content }}
          {{ end }}
        </section>
          {{ with .Params.side_img }}
          <aside>
            <img class="side-image" alt="{{ $.Params.side_alt }}" src="{{ . }}" />
          </aside>
        {{end}}
      </article>

    </main>
    <footer>
      {{ block "footer" . }}
        {{ partial "footer/site-footer.html" . }}
      {{ end }}
    </footer>
    <script src="/js/scroll.js" async defer></script>
    {{ template "_internal/google_analytics_async.html" . }} 
  </body>
</html>
