body
  display: flex
  flex-direction: column
  justify-content: space-between

header
  flex-basis: 20%
  h1
    font-size: 1.2rem

main
  padding-top: 1.1em
  flex: 1
  padding: 0 $spacing-double

footer
  align-self: flex-end
  flex-basis: 10%
  width: 100vw
