+breakpoint("mama-bear")
  .sponsor-form
    display: grid
    grid-gap: $spacing
    grid-template-columns: 50% 50%
    padding: 0 $spacing-double
  main
    article
      padding: 0.2em $spacing-double 0
      justify-content: space-between
      flex-direction: row
      aside
        padding: $spacing-quad 0
        padding-right: $spacing
        align-self: stretch
        img
          width: 40vw
          max-height: inherit