{{ define "main" }}

{{ $appId := (getenv (printf "%s_SQUARE_APP_ID" (getenv "BRANCH_ENV" | upper))) }}
{{ $locId := (getenv (printf "%s_SQUARE_LOC_ID" (getenv "BRANCH_ENV" | upper))) }}

{{ $jsVars := (printf "var applicationId = '%s';\n\nvar locationId = '%s';\n\n" $appId $locId) | resources.FromString "js/vars.js" }}
{{ $jsTemplate := resources.Get "js/sqpaymentform.js" }}

{{ $sqPaymentFormJs := slice $jsVars $jsTemplate | resources.Concat "js/sqpayment.js" }}

<!-- link to the SqPaymentForm library -->
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform">
</script>

<!-- link to the local SqPaymentForm initialization -->
<script type="text/javascript" src="{{ $sqPaymentFormJs.RelPermalink }}">
</script>

<!-- link to the custom styles for SqPaymentForm -->
<link rel="stylesheet" type="text/css" href="/css/sqpaymentform.css">

{{ .Content }}

<div id="form-container">
  <div id="sq-ccbox">
    <form id="nonce-form" novalidate action="/checkout" method="post">
      <fieldset>
      <span class="label">Card Number</span>
      <div id="sq-card-number"></div>

      <div class="third">
        <span class="label">Expiration</span>
        <div id="sq-expiration-date"></div>
      </div>

      <div class="third">
        <span class="label">CVV</span>
        <div id="sq-cvv"></div>
      </div>

      <div class="third">
        <span class="label">Postal</span>
        <div id="sq-postal-code"></div>
      </div>
      </fieldset>

      <button id="sq-creditcard" class="button-credit-card button-primary" onclick="requestCardNonce(event)">Donate</button>

      <div id="error"></div>

      <!--
        After a nonce is generated it will be assigned to this hidden input field.
      -->
      <input type="hidden" id="card-nonce" name="nonce">
    </form>
  </div> <!-- end #sq-ccbox -->

</div> <!-- end #form-container -->

<script>
document.addEventListener("DOMContentLoaded", function(event) {
  if (SqPaymentForm.isSupportedBrowser()) {
    paymentForm.build();
    paymentForm.recalculateSize();
  }
});
</script>
{{ end }}