{{ define "main" }}

{{ .Content }}

<section class="sponsor-form">
  <div id="form-container">
      <div id="sq-ccbox">
      <form id="nonce-form" novalidate method="post">
        <fieldset>
          <div class="form-group">
            <label for="donorName">Name</label>
            <input id="donorName" name="donorName" type="text" required />
          </div>

          <div class="form-group">
            <label for="business">Business</label>
            <input id="business" name="business" type="text" />
          </div>

          <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" type="email" required />
        </div>

        <fieldset>
          <div class="form-group">
            <label for="addr1">Address Line 1</label>
            <input id="addr1" name="addr1" type="text" required />
          </div>

          <div class="form-group">
            <label for="addr2">Address Line 2</label>
            <input id="addr2" name="addr2" type="text" />
          </div>

          <div class="form-flex">
          <div class="form-group">
            <label for="city">City</label>
            <input id="city" name="city" type="text" required />
          </div>

          <div class="form-group">
            <label for="state">State</label>
            <select id="state" name="state">
              <option value="--">--</option>
            	<option value="AL">AL</option>
            	<option value="AK">AK</option>
            	<option value="AZ">AZ</option>
            	<option value="AR">AR</option>
            	<option value="CA">CA</option>
            	<option value="CO">CO</option>
            	<option value="CT">CT</option>
            	<option value="DE">DE</option>
            	<option value="DC">DC</option>
            	<option value="FL">FL</option>
            	<option value="GA">GA</option>
            	<option value="HI">HI</option>
            	<option value="ID">ID</option>
            	<option value="IL">IL</option>
            	<option value="IN">IN</option>
            	<option value="IA">IA</option>
            	<option value="KS">KS</option>
            	<option value="KY">KY</option>
            	<option value="LA">LA</option>
            	<option value="ME">ME</option>
            	<option value="MD">MD</option>
            	<option value="MA">MA</option>
            	<option value="MI">MI</option>
            	<option value="MN">MN</option>
            	<option value="MS">MS</option>
            	<option value="MO">MO</option>
            	<option value="MT">MT</option>
            	<option value="NE">NE</option>
            	<option value="NV">NV</option>
            	<option value="NH">NH</option>
            	<option value="NJ">NJ</option>
            	<option value="NM">NM</option>
            	<option value="NY">NY</option>
            	<option value="NC">NC</option>
            	<option value="ND">ND</option>
            	<option value="OH">OH</option>
            	<option value="OK">OK</option>
            	<option value="OR">OR</option>
            	<option value="PA">PA</option>
            	<option value="RI">RI</option>
            	<option value="SC">SC</option>
            	<option value="SD">SD</option>
            	<option value="TN">TN</option>
            	<option value="TX">TX</option>
            	<option value="UT">UT</option>
            	<option value="VT">VT</option>
            	<option value="VA">VA</option>
            	<option value="WA">WA</option>
            	<option value="WV">WV</option>
            	<option value="WI">WI</option>
            	<option value="WY">WY</option>
            </select>
          </div>

          <div class="form-group">
            <label for="zip">ZIP Code</label>
            <input id="zip" name="zip" type="text" required />
          </div>
        </div>

        </fieldset>

        </fieldset>

        <fieldset>
          <div class="form-group">
            <span class="label">Card Number</span>
            <div id="sq-card-number"></div>
          </div>

          <div class="form-flex">
            <div class="form-group third">
              <span class="label">Expiration</span>
              <div id="sq-expiration-date"></div>
            </div>

            <div class="form-group third">
              <span class="label">CVV</span>
              <div id="sq-cvv"></div>
            </div>

            <div class="form-group third">
              <span class="label">Postal Code</span>
              <div id="sq-postal-code"></div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label for="amount">Amount</label>
            <select id="amount" name="amount">
              <option value="">Please Select</option>
              <option value="250">Foundation Supporter - $250</option>
              <option value="500">Production Supporter - $500</option>
              <option value="1000">Outreach Sponsor - $1000</option>
              <option value="3000">Production Sponsor - $3000</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="form-group" id="form-group-amount">
            <label for="amount-other">Amount (Other)</label>
            <input id="amount-other" name="amount-other" type="number" step="any" pattern="[-+]?[0-9]*[.,]?[0-9]+"/>
          </div>
        </fieldset>

        <button id="sq-creditcard" class="button-credit-card button-primary" onclick="requestCardNonce(event)">Sponsor Us</button>

        <div id="error"></div>

        <!--
          After a nonce is generated it will be assigned to this hidden input field.
        -->
        <input type="hidden" id="card-nonce" name="nonce">
      </form>
    </div> <!-- end #sq-ccbox -->

  </div> <!-- end #form-container -->

  <div class="sponsor-levels">
      <h3>Sponsorship Levels</h3>
      <dl>
        <dt class="foundation-supporter">Foundation Supporter - $250</dt>
        <dd class="foundation-supporter">
          <ul>
            <li>Recognition as Foundation Supporter at RALEIGH GIVES BACK</li>
            <li>2 Sponsorship Tickets to RALEIGH GIVES BACK</li>
            <li>Opportunity to include materials in promotional bags to be given to each person in attendance at RALEIGH GIVES BACK</li>
            <li>1/4-Page ad in RALEIGH GIVES BACK Electronic Playbill</li>
          </ul>
        </dd>

        <dt class="performance-supporter">Performance Supporter - $500</dt>
        <dd class="performance-supporter">
          <ul>
            <li>Recognition as Performance Supporter at RALEIGH GIVES BACK</li>
            <li>4 Sponsorship Tickets to RALEIGH GIVES BACK</li>
            <li>Opportunity to include materials in promotional bags to be given to each person in attendance at RALEIGH GIVES BACK</li>
            <li>Half-Page ad in RALEIGH GIVES BACK Electronic Playbill</li>
          </ul>
        </dd>

        <dt class="outreach-sponsor">Outreach Sponsor - $1000</dt>
        <dd class="outreach-sponsor">
          <ul>
            <li>Recognition as Outreach Sponsor at RALEIGH GIVES BACK</li>
            <li>Company logo on all marketing materials for MOVE IT RALEIGH, RALEIGH GIVES BACK, and RALEIGH MOVES TOGETHER</li>
            <li>Full-Page ad in RALEIGH GIVES BACK Electronic Playbill</li>
            <li>6 Sponsorship Tickets to RALEIGH GIVES BACK</li>
          </ul>
        </dd>

        <dt class="production-sponsor">Production Sponsor - $3000 (only one sponsorship available)</dt>
        <dd class="production-sponsor">
          <ul>
            <li>Recognition as Production Sponsor at RALEIGH GIVES BACK</li>
            <li>Company logo on all marketing materials for MOVE IT RALEIGH, RALEIGH GIVES BACK, and RALEIGH MOVES TOGETHER</li>
            <li>Full-Page ad in RALEIGH GIVES BACK Electronic Playbill</li>
            <li>Opening curtain recognition to RALEIGH GIVES BACK</li>
            <li>10 Sponsorship Tickets to RALEIGH GIVES BACK</li>
          </ul>
        </dd>
      </dl>
    </div>
  </section>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  if (SqPaymentForm.isSupportedBrowser()) {
    paymentForm.build();
    paymentForm.recalculateSize();
  }
});

const amountDropdown = document.getElementById('amount');
const amount = document.getElementById('amount-other');
const amtgroup = document.getElementById('form-group-amount');
const vipgroup = document.getElementById('form-group-viptix');
const foundationSupporter = Array.from(document.getElementsByClassName('foundation-supporter'));
const performanceSupporter = Array.from(document.getElementsByClassName('performance-supporter'));
const outreachSponsor = Array.from(document.getElementsByClassName('outreach-sponsor'));
const productionSponsor = Array.from(document.getElementsByClassName('production-sponsor'));
function setFaded(isFaded) {
  return function (item) {
    if (isFaded) {
      item.classList.add('isFaded');
    } else {
      item.classList.remove('isFaded')
    }
  }
}

function selectLevel (dropdown = false) {
  return function (event) {
    const value = parseFloat(event.target.value);
    if (amountDropdown.value === 'other') {
      amtgroup.classList.add('allowed');
    } else {
      amtgroup.classList.remove('allowed');
    }
    if (value < 250 || (dropdown && amountDropdown.value == 'other')) {
      foundationSupporter.forEach(setFaded(false));
      performanceSupporter.forEach(setFaded(false));
      outreachSponsor.forEach(setFaded(false));
      productionSponsor.forEach(setFaded(false));
    } else if (value < 500) {
      foundationSupporter.forEach(setFaded(false));
      performanceSupporter.forEach(setFaded(true));
      outreachSponsor.forEach(setFaded(true));
      productionSponsor.forEach(setFaded(true));
    } else if (value < 1000) {
      foundationSupporter.forEach(setFaded(true));
      performanceSupporter.forEach(setFaded(false));
      outreachSponsor.forEach(setFaded(true));
      productionSponsor.forEach(setFaded(true));
    } else if (value < 3000) {
      foundationSupporter.forEach(setFaded(true));
      performanceSupporter.forEach(setFaded(true));
      outreachSponsor.forEach(setFaded(false));
      productionSponsor.forEach(setFaded(true));
    } else {
      foundationSupporter.forEach(setFaded(true));
      performanceSupporter.forEach(setFaded(true));
      outreachSponsor.forEach(setFaded(true));
      productionSponsor.forEach(setFaded(false));
    }
  };
}
amountDropdown.addEventListener('change', selectLevel(true));
amount.addEventListener('change', selectLevel(false));
</script>
{{ end }}

{{ define "script" }}
{{ $appId := (getenv (printf "%s_SQUARE_APP_ID" (getenv "BRANCH_ENV" | upper))) }}
{{ $locId := (getenv (printf "%s_SQUARE_LOC_ID" (getenv "BRANCH_ENV" | upper))) }}

{{ $jsVars := (printf "var applicationId = '%s';\n\nvar locationId = '%s';\n\n" $appId $locId) | resources.FromString "js/vars.js" }}
{{ $jsTemplate := resources.Get "js/sqpaymentform.js" }}

{{ $sqPaymentFormJs := slice $jsVars $jsTemplate | resources.Concat "js/sqpayment.js" | resources.Minify | resources.Fingerprint "sha512" }}
<!-- link to the SqPaymentForm library -->
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform">
</script>

<!-- link to the local SqPaymentForm initialization -->
<script type="text/javascript" src="{{ $sqPaymentFormJs.RelPermalink }}" integrity="{{ $sqPaymentFormJs.Data.Integrity }}">
</script>
{{ end }}
