{{ define "main" }}

{{ $appId := (getenv (printf "%s_SQUARE_APP_ID" (getenv "BRANCH_ENV" | upper))) }}
{{ $locId := (getenv (printf "%s_SQUARE_LOC_ID" (getenv "BRANCH_ENV" | upper))) }}

{{ $jsVars := (printf "var applicationId = '%s';\n\nvar locationId = '%s';\n\n" $appId $locId) | resources.FromString "js/vars.js" }}
{{ $jsTemplate := resources.Get "js/sqpaymentform.js" }}

{{ $sqPaymentFormJs := slice $jsVars $jsTemplate | resources.Concat "js/sqpayment.js" }}

<!-- link to the SqPaymentForm library -->
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform">
</script>

<!-- link to the local SqPaymentForm initialization -->
<script type="text/javascript" src="{{ $sqPaymentFormJs.RelPermalink }}">
</script>

{{ .Content }}

<section class="sponsor-form">
  <div id="form-container">
    <div id="sq-ccbox">
      <form id="nonce-form" novalidate action="/checkout" method="post">
        <fieldset>
          <div class="form-group">
            <label for="donor-name">Name</label>
            <input id="donor-name" type="text" required />
          </div>
          
          <div class="form-group">
            <label for="donor-name">Business</label>
            <input id="business" type="text" />
          </div>
          
          <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" required />
        </div>
        
        <fieldset>
          <div class="form-group">
            <label for="addr1">Address Line 1</label>
            <input id="addr1" type="text" required />
          </div>
          
          <div class="form-group">
            <label for="addr2">Address Line 2</label>
            <input id="addr2" type="text" />
          </div>
          
          <div class="form-flex">
          <div class="form-group">
            <label for="city">City</label>
            <input id="city" type="text" required />
          </div>
          
          <div class="form-group">            
            <label for="state">State</label>
            <select id="state">
            	<option value="AL">AL</option>
            	<option value="AK">AK</option>
            	<option value="AZ">AZ</option>
            	<option value="AR">AR</option>
            	<option value="CA">CA</option>
            	<option value="CO">CO</option>
            	<option value="CT">CT</option>
            	<option value="DE">DE</option>
            	<option value="DC">DC</option>
            	<option value="FL">FL</option>
            	<option value="GA">GA</option>
            	<option value="HI">HI</option>
            	<option value="ID">ID</option>
            	<option value="IL">IL</option>
            	<option value="IN">IN</option>
            	<option value="IA">IA</option>
            	<option value="KS">KS</option>
            	<option value="KY">KY</option>
            	<option value="LA">LA</option>
            	<option value="ME">ME</option>
            	<option value="MD">MD</option>
            	<option value="MA">MA</option>
            	<option value="MI">MI</option>
            	<option value="MN">MN</option>
            	<option value="MS">MS</option>
            	<option value="MO">MO</option>
            	<option value="MT">MT</option>
            	<option value="NE">NE</option>
            	<option value="NV">NV</option>
            	<option value="NH">NH</option>
            	<option value="NJ">NJ</option>
            	<option value="NM">NM</option>
            	<option value="NY">NY</option>
            	<option value="NC">NC</option>
            	<option value="ND">ND</option>
            	<option value="OH">OH</option>
            	<option value="OK">OK</option>
            	<option value="OR">OR</option>
            	<option value="PA">PA</option>
            	<option value="RI">RI</option>
            	<option value="SC">SC</option>
            	<option value="SD">SD</option>
            	<option value="TN">TN</option>
            	<option value="TX">TX</option>
            	<option value="UT">UT</option>
            	<option value="VT">VT</option>
            	<option value="VA">VA</option>
            	<option value="WA">WA</option>
            	<option value="WV">WV</option>
            	<option value="WI">WI</option>
            	<option value="WY">WY</option>
            </select>
          </div>
          
          <div class="form-group">
            <span class="label">ZIP Code</span>
            <div id="sq-postal-code"></div>
          </div>
        </div>
          
        </fieldset>

        </fieldset>

        <fieldset>
          <div class="form-group">
            <span class="label">Card Number</span>
            <div id="sq-card-number"></div>
          </div>

          <div class="form-flex">
            <div class="form-group half">
              <span class="label">Expiration</span>
              <div id="sq-expiration-date"></div>
            </div>

            <div class="form-group half">
              <span class="label">CVV</span>
              <div id="sq-cvv"></div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input id="amount" type="number" step="any" pattern="[-+]?[0-9]*[.,]?[0-9]+"/>
          </div>
          
          <div class="form-group">
            <label for="viptix">VIP Tickets Requested</label>
            <input id="viptix" type="number" />
          </div>
        </fieldset>
        
        <button id="sq-creditcard" class="button-credit-card button-primary" onclick="requestCardNonce(event)">Sponsor Us</button>

        <div id="error"></div>

        <!--
          After a nonce is generated it will be assigned to this hidden input field.
        -->
        <input type="hidden" id="card-nonce" name="nonce">
      </form>
    </div> <!-- end #sq-ccbox -->

  </div> <!-- end #form-container -->
  <div class="sponsor-levels">
    <h3>Sponsorship Levels</h3>
    <dl>
      <dt class="perf-supporter">Performance Supporter - $50+<sub>(Individuals only)</sub></dt>
      <dd class="perf-supporter">
        <ul>
          <li>2 tickets to Benefit Concert</li>
        </ul>
      </dd>
     
      <dt class="perf-friend">Performance Friend - $100+<sub>(Companies with <5 employees or individuals)</sub></dt>
      <dd class="perf-friend">
        <ul>
          <li>Recognition in Benefit Concert Program</li>
          <li>4 tickets to Benefit Concert</li>
          <li>Opportunity to include materials in concert swag bag (750 bags - 1 swag bag per ticket)</li>
        </ul>
      </dd>

      <dt class="perf-partner">Performance Partner - $500+</dt>
      <dd class="perf-partner">
        <ul>
          <li>Company name or individual recognition in Benefit Concert Program</li>
          <li>Quarter-page ad in Benefit Concert Program</li>
          <li>4 VIP tickets to Benefit Concert, if requested</li>
          <li>Opportunity to include materials in concert swag bag (750 bags - 1 swag bag per ticket)</li>
        </ul>
      </dd>
      
      <dt class="benefactor-sponsor">Benefactor Sponsor - $1000</dt>
      <dd class="benefactor-sponsor">
        <ul>
          <li>Company name or individual recognition in Benefit Concert Program</li>
          <li>Half-page ad in Benefit Concert Program</li>
          <li>6 VIP tickets to Benefit Concert, if requested</li>
          <li>Opportunity to include materials in concert swag bag (750 bags - 1 swag bag per ticket)</li>
        </ul>
      </dd>

      <dt class="outreach-sponsor">Outreach Sponsor - $3000</dt>
      <dd class="outreach-sponsor">
        <ul>
          <li>Exclusive naming rights to Benefit Concert Online Auction (i.e. 1st Annual MOVE IT RALEIGH Auction, sponsored by John & Jane Doe)</li>
          <li>Company logo or individual on all auction signage, marketing materials, website</li>
          <li>Opening curtain recognition and opportunity to speak at performance</li>
          <li>Full-page ad (inside back cover) in Benefit Concert Program</li>
          <li>8 VIP tickets to Benefit Concert, if requested</li>
          <li>Opportunity to include materials in concert swag bag (750 bags - 1 swag bag per ticket)</li>
        </ul>
      </dd>
      
      <dt class="production-sponsor">Production Sponsor - $5000</dt>
      <dd class="production-sponsor">
        <ul>
          <li>Exclusive naming rights to Benefit Concert Online Auction (i.e. 1st Annual MOVE IT RALEIGH Benefit Concert, sponsored by XYZ Company)</li>
          <li>Company logo or individual on all auction signage, marketing materials, website</li>
          <li>Opening curtain recognition and opportunity to speak at performance</li>
          <li>2 Full-page ads (inside front cover and back cover) in Benefit Concert Program</li>
          <li>10 VIP tickets to Benefit Concert, if requested</li>
          <li>Opportunity to include materials in concert swag bag (750 bags - 1 swag bag per ticket)</li>
        </ul>
      </dd>
    </dl>
  </div>

</section>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  if (SqPaymentForm.isSupportedBrowser()) {
    paymentForm.build();
    paymentForm.recalculateSize();
  }
});
</script>
{{ end }}